body{
    background-image: url(../img/fondo_producto_cliente.jpeg);
}

h2{
    text-shadow: 3px 3px 3px #432610;
}

.text-light{
    color: #ec6813 !important;
    font-size: 28px;
}

header{
    background: linear-gradient(30deg, #caaa81, rgb(255, 255, 255));
    height: 50px !important;
}

.badge-success{
    color: white;
    background-color: #432610;
}
.grupo-2 {
    background-color: #ec6813;
    margin-top: 35%;
    padding: 15px 10px;
    text-align: center;
    color: #432610;
}

.grupo-2 small {
    font-size: 15px;
}